@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
