.hamburger-menu {
  $width: 250px;
  z-index: 100;
  position: absolute;
  height: 100%;

  .hamburger-icon {
    font-size: 24px;
    padding: 5px 12px 6px 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    color: #eee;

    &:hover {
      background: #333;
      color: #fff;
    }

    &:active {
      background: #444;
    }
  }

  .hamburger-panel {
    height: 100%;
    position: absolute;
    background: #778899;
    overflow: hidden;
    transition: left .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 0 15px 0;
    width: $width;
    left: -$width;

    &.active {
      left: 0;
    }

    .content {
      padding: 50px 30px;
    }

    .close-icon {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px 8px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }

    .nav-item {
      font-size: 20px;
      display: block;
      margin-bottom: 10px;

      .icon {
        width: 19px;
        text-align: center;
        margin-right: 10px;
      }
    }
  }
}
